
@Html.AntiForgeryToken()
@Html.ValidationSummary("", new { @class = "text-danger" })

<div class="form-group">

    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(m => m.FirstName, new { @class = "col-md-10 form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(m => m.LastName, new { @class = "col-md-2 form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(m => m.UserName, new { @class = "col-md-2 form-control" })
</div>


<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(m => m.Email, new { @class = " col-md-10 form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
    @Html.PasswordFor(m => m.Password, new { @class = "col-md-10  form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "col-md-10 form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(m => m.Address, new { @class = "col-md-10 form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(m => m.Phone, new { @class = "col-md-10 form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Salary, new { @class = "col-md-2 control-label" })
    @Html.EditorFor(m => m.Salary, new { @class = "col-md-10 form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.HireDate, new { @class = "col-md-2 control-label" })
    @Html.EditorFor(m => m.HireDate, new { @class = "col-md-10 form-control" })
</div>
