@model IEnumerable<LibraryProject.Models.book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    th {
        color: #e59285;
        text-align: center
    }

    td {
        color: black;
        text-align: center
    }

        td:hover {
            font-size: 15px;
        }
</style>
<button class="btn btn-secondary" style="margin-top:120px;margin-bottom:50px">
    @Html.ActionLink("Create New", "Create")

</button>
<div class="container " style="align-content:center" ;>
    <table class="col-lg-12 table  table-bordered table-hover ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher.name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Edition)
            </th>


            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Edition)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </table>
</div>
